.js-clock {
  display: flex;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  font-size: 30px;
  font-weight: 600;
}

.js-clock span:nth-child(2) {
  margin: 0 10px;
}

.js-clock__column {
  visibility: hidden;
}
